<template>
  <div class="hedr">
    <el-container>
  <el-header>
     <div class="head">
      <img src="../assets/logo.png" alt="" />商城后台管理系统
      <el-button type="info" class="quit" @click="eike">退出</el-button>
    </div>
  </el-header>
  <el-container>
    <el-aside width="" style="" >
    <!-- 
         <div class="erdt" @click="fun()">
          |||
        </div>
    <el-menu
    
      default-active="1-1"
      class="el-menu-vertical-demo"
      @open="handleOpen"
      @close="handleClose"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="rgb(102, 204, 255)">
      <el-submenu :index="item.id+''" v-for="(item) in list" :key="item.id">
        <template slot="title">
          <i :class="[item.authName=='用户管理'? 'el-icon-user-solid':'',item.authName=='权限管理'?'el-icon-s-tools':'',item.authName=='商品管理'?'el-icon-s-goods':'',item.authName=='订单管理'?'el-icon-s-order':'',item.authName=='数据统计'?'el-icon-s-marketing':'']"></i>
          <span v-show="ter">{{item.authName}}</span>
        </template>
        <el-menu-item-group v-for="ite in item.children">
         
          <el-menu-item :index="ite.id+''"> <i class="el-icon-s-operation"  v-show="ter"></i>
          <router-link :to="'/'+ite.path">{{ite.authName}}</router-link>
          </el-menu-item>
        </el-menu-item-group>
        </el-submenu>
      </el-submenu>
    </el-menu>
  </el-col>
   -->
  <!-- <el-radio-group v-model="isCollapse" @click="fooy"  style=""> -->
  <!-- <el-radio-button :label="false">展开</el-radio-button> -->
  <!-- <el-radio-button >|||</el-radio-button> -->
  <!-- <div :class=":label==false?'active':'atve'">
    |||
  </div> -->
<!-- </el-radio-group> -->
<transition>
<div :class="[isCollapse?'ety':'ert']" @click="fooy">
  |||
</div>
</transition>

<el-menu default-active="1-4-1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" :collapse="isCollapse">
  <el-submenu :index="item.id+''" v-for="(item) in list" :key="item.id">
    <template slot="title">
          <i :class="[item.authName=='用户管理'? 'el-icon-user-solid':'',item.authName=='权限管理'?'el-icon-s-tools':'',item.authName=='商品管理'?'el-icon-s-goods':'',item.authName=='订单管理'?'el-icon-s-order':'',item.authName=='数据统计'?'el-icon-s-marketing':'']"></i>
      <span slot="title" class="ta">{{item.authName}}</span>
    </template>
    <el-menu-item-group  v-for="ite in item.children" @click="gett(ite.id)">
      <el-menu-item :index="ite.id+''"> <i class="el-icon-s-operation"  v-show="ter"></i>
      <router-link  :to="'/'+ite.path" :class="{bg:ite.id==idr}">{{ite.authName}}</router-link>
    
      </el-menu-item>
    </el-menu-item-group>
  </el-submenu>
</el-menu>
  </el-aside>

    <el-main class="foy">
      <router-view></router-view>
    </el-main>
  </el-container>
</el-container>
   
    
    
  </div>
</template>

<script>
// import {} from '@/api/login.js'
import { leftbat } from "@/api/login.js";
export default {
  data() {
    return {
      list: [],
      // label:false,
      flag:1,
      ter:true,
      isCollapse: false,
      idr:' '
    };
  },
  created() {
    this.leftMen();
  },

  mounted() {},
  methods: {
    fooy(){
      // console.log("re");
      this.isCollapse=!this.isCollapse
    },
    gett(id){
console.log(id);
    },
    leftMen() {
      leftbat().then((res) => {
        console.log(res);
        this.list = res.data;
      });
      // console.log(this.list);
    },
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    },
    eike() {
      localStorage.clear();
      this.$router.push("/home");
    },
    fun(){
      console.log(this.ter);
      this.ter=!this.ter
    }
  },
  components: {},
};
</script>

<style lang='scss' scoped>
.foy{
  min-width: 1200px;
}
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  .el-header {
  margin: 0;
  padding: 0;
}
.el-main{
  background: #eaedf1;
}
  .bg{
    color: #409EFF;
  }
  element.style{
    width: 0px;
  }
  .active{
    background: #333744;
    width: 200px;
    height: 30px;
    line-height: 30px;

  }
  .el-menu-vertical-demo[data-v-039c5b43]:not(.el-menu--collapse){
    height: 100vh;
  }
  .el-menu-vertical-demo[data-v-039c5b43]{
    height: 100vh;
  }
// .el-aside {
//     background-color: rgb(84, 92, 100);
// }
// .el-container{
//   height: 100vh;
// }
a{
  text-decoration: none;
  color:#999;
}
.ety{
  width: 64px;
    height: 30px;
  line-height: 30px;
  text-align: center;
  background: #999;
}
.ert {
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #999;
}
// .el-col {
//   width: 200px;
// }
// .elet:hover {
//   background-color: black;
// }
// .el-header {
//   margin: 0;
//   padding: 0;
// }
// .hedr {
//   height: 100vh;
// }
.el-submenu__title:hover {
    background-color: black;
}
.head {
  height: 60px;
  line-height: 60px;
  background-color: #666;
  color: white;
  padding: 0 20px;
  img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
  }
  .quit {
    margin-top: 10px;
    float: right;
  }
}
.ta{
  color: white;
}
// .tac {
//   width: 200px;
//   height: 100%;
//   background: #333744;
// }
.el-menu-vertical-demo {
  // width: 200px;
  // color: white;
  background: #333744;
}
</style>
