<template>
  <div class="">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>添加商品</el-breadcrumb-item>
    </el-breadcrumb>

    <!-- 内容 -->
    <el-card>
      <el-alert
        title="添加商品信息"
        type="info"
        center
        show-icon
        :closable="false"
      >
      </el-alert>
      <!-- 步骤条 -->
      <el-steps
        :space="200"
        :active="activeIndex - 0"
        finish-status="success"
        align-center
      >
        <el-step title="基本信息"></el-step>
        <el-step title="商品参数"></el-step>
        <el-step title="商品属性"></el-step>
        <el-step title="商品图片"></el-step>
        <el-step title="商品内容"></el-step>
        <el-step title="完成"></el-step>
      </el-steps>
      <!-- 图片预览 -->
      <el-dialog title="图片预览" :visible.sync="dialogVisible" width="30%">
        <img :src="Url" alt="" width="100%" />
      </el-dialog>
      <!-- tab -->
      <el-form
        :model="addForm"
        :rules="addFormRules"
        ref="addFormRef"
        label-width="100px"
        labelPosition="top"
      >
        <el-tabs
          v-model="activeIndex"
          :tab-position="'left'"
          :before-leave="beforeTaLeave"
          @tab-click="tabClicked"
        >
          <el-tab-pane label="用户管理" name="0">
            <el-form-item label="商品名称" prop="goods_name">
              <el-input v-model="addForm.goods_name"></el-input>
            </el-form-item>
            <el-form-item label="商品价格" prop="goods_price">
              <el-input v-model="addForm.goods_price"></el-input>
            </el-form-item>
            <el-form-item label="商品重量" prop="goods_weight">
              <el-input v-model="addForm.goods_weight"></el-input>
            </el-form-item>
            <el-form-item label="商品数量" prop="goods_number">
              <el-input v-model="addForm.goods_number"></el-input>
            </el-form-item>
            <el-form-item label="商品分类" prop="goods_cat">
              <el-cascader
                expand-trigger="hover"
                v-model="addForm.goods_cat"
                :options="catelist"
                :props="cateProps"
                @change="handleChange"
              ></el-cascader>
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="商品参数" name="1">
            <el-form-item
              :label="item.attr_name"
              v-for="item in Tablist"
              :key="item.attr_id"
            >
              <el-checkbox-group v-model="item.attr_vals">
                <el-checkbox
                  :label="sb"
                  border
                  v-for="(sb, i) in item.attr_vals"
                  :key="i"
                ></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="商品属性" name="2">
            <!-- <el-form-item
              :label="ite.attr_name"
           
              v-for="ite in Rarlist"
              :key="ite.attr_id"
            > -->
            <el-form-item
              :label="item.attr_name"
              v-for="item in Rarlist"
              :key="item.attr_id"
            >
              <el-input v-model="item.attr_vals"> </el-input>
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="商品图片" name="3">
            <el-upload
              class="upload-demo"
              :action="uploadURL"
              :on-preview="handlePreview"
              :on-remove="handleRemove"
              :headers="headerObj"
              :on-success="handleSuccess"
              list-type="picture"
            >
              <el-button size="small" type="primary">点击上传</el-button>
            </el-upload>
          </el-tab-pane>
          <el-tab-pane label="商品内容" name="4">
            <quill-editor
              ref="myTextEditor"
              v-model="addForm.goods_introduce"
              :options="editorOption"
            ></quill-editor>
            <el-button type="primary" class="btnAdd" @click="add"
              >添加商品</el-button
            >
          </el-tab-pane>
        </el-tabs>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { GoodCode, Goodlet, Goodmset ,GoodUpload} from "@/api/good.js";
export default {
  data() {
    return {
      activeIndex: "0",
      addForm: {
        goods_name: "宋文斌",
        goods_cat: [1,2,3],
        goods_price:10,
        goods_weight: 10,
        goods_number:10,
        //图片地址
        pics: [],
        goods_introduce: "",
        attrs: [],
      },
      cateProps: {
        label: "cat_name",
        value: "cat_id",
        children: "children",
      },
      // 动态参数列表数据
      Tablist: [],
      // 静态属性列表数据
      Rarlist: [],
      // 上传图片地址
      uploadURL: "https://www.liulongbin.top:8888/api/private/v1/upload",
      //图片上传存储
      headerObj: {
        Authorization: localStorage.getItem("token"),
      },
      Url: "",
      dialogVisible: false,
      content: "",
      editorOption: {},
      catelist: [],
      addFormRules: {
        goods_name: [
          { required: true, message: "请输入商品名称", trigger: "blur" },
        ],
        goods_weight: [
          { required: true, message: "请输入商品重量", trigger: "blur" },
        ],
        goods_number: [
          { required: true, message: "请输入商品数量", trigger: "blur" },
        ],
        goods_price: [
          { required: true, message: "请输入商品价格", trigger: "blur" },
        ],
        goods_cat: [
          { required: true, message: "请输入商品分类", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getcatelist();
  },
  mounted() {},
  methods: {
    getcatelist() {
      GoodCode().then((res) => {
        console.log(res);
        this.catelist = res.data;

        console.log(this.catelist);
      });
    },
    // 级联
    handleChange() {
      if (this.addForm.goods_cat.length != 3) {
      }
      console.log(this.addForm.goods_cat);
    },
    beforeTaLeave(activeName, oldActiveName) {
      if (oldActiveName === "0" && this.addForm.goods_cat.length !== 3) {
        this.$message.error("请先选择商品分类！");
        return false;
      }
    },
    // 处理图片预览的
    handlePreview(file) {
      console.log(file);
      this.Url = file.response.data.url;
      this.dialogVisible = true;
    },
    // 处理移除图片的
    handleRemove(file) {
      console.log(file);
      const filePach = file.response.data.tmp_path;
      const i = this.addForm.pics.findIndex((item) => item.pic == filePach);

      this.addForm.pics.splice(i, 1);
      console.log(this.addForm.pics);
    },
    handleSuccess(response) {
      console.log(response);
      const obj = {
        pic: response.data.tmp_path,
      };
      this.addForm.pics.push(obj);
      console.log(this.addForm.pics);
    },

    add() {
      console.log(this.addForm);
      this.$refs.addFormRef.validate((valid) => {
        if (!valid) {
          return this.$message.error("请填写必要的属性");
        }
        // console.log(this.addForm.goods_cat.join(','));
        this.addForm.goods_cat = this.addForm.goods_cat.join(",");
        // console.log();

        this.Tablist.forEach((item) => {
          console.log(item);
          const newInfo = {
            attr_id: item.attr_id,
            attr_value: item.attr_vals.join(" "),
          };
          this.addForm.attrs.push(newInfo);
        });
        // 处理静态属性
        this.Rarlist.forEach((item) => {
          console.log(item);
          const newInfo = {
            attr_id: item.attr_id,
            attr_value: item.attr_vals.join(" "),
          };
          this.addForm.attrs.push(newInfo);
        });
        console.log(this.addForm);

        GoodUpload(this.addForm).then(res=>{
            console.log(res);
            if(res.meta.status==201){
                this.$router.push('/goods')
            }
        })
      });
    },
    tabClicked() {
      console.log(this.activeIndex);
      if (this.activeIndex == 1) {
        Goodlet({ id: this.addForm.goods_cat[2], sel: "many" }).then((res) => {
          console.log(res);
          res.data.forEach((item) => {
            item.attr_vals =
              item.attr_vals.length == 0 ? [] : item.attr_vals.split(" ");
          });
          this.Tablist = res.data;
        });
      } else if (this.activeIndex == 2) {
        Goodmset({ id: this.addForm.goods_cat[2], sel: "only" }).then((res) => {
          console.log(res);
          res.data.forEach((item) => {
            item.attr_vals =
              item.attr_vals.length == 0 ? [] : item.attr_vals.split(" ");
          });
          this.Rarlist = res.data;
          console.log(this.Rarlist);
        });
      }
    },
  },
  components: {},
};
</script>

<style lang='scss'>
.el-step {
  margin: 15px 0;
}
.el-step_title {
  font-size: 13px;
}
.el-checkbox {
  margin: 0 10px 10px 0 !important;
}
.ql-editor {
  min-height: 300px;
}
.btnAdd {
  margin-top: 20px;
}
</style>
