<template>
  <div class="">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item><a href="/">权限管理</a></el-breadcrumb-item>
      <el-breadcrumb-item>角色列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button type="primary" @click="roles()">添加角色</el-button>
    <el-dialog title="收货地址" :visible.sync="dialogFormVisible">
      <el-form :model="form" ref="form" :rules="rules">
        <el-form-item
          label="角色名称"
          prop="name"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item
          label="角色描述"
          prop="region"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.region"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="firm('form')">确 定</el-button>
      </div>
    </el-dialog>
    <template>
      <el-table :data="list" border stripe style="width: 100%">
        <el-table-column type="expand"> </el-table-column>
        <el-table-column type="index" label="#" width="50"> </el-table-column>
        <el-table-column prop="roleName" label="角色名称" width="380">
        </el-table-column>
        <el-table-column prop="roleDesc" label="角色描述" width="380">
        </el-table-column>
        <el-table-column prop="address" label="操作" width="760">
          <template slot-scope="scope">
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="offn(scope.row)"
              >编辑</el-button
            >
            <el-button
              type="danger"
              size="mini"
              icon="el-icon-delete"
              @click="del(scope.row.id)"
              >删除</el-button
            >
            <el-button
              type="warning"
              size="mini"
              icon="el-icon-setting"
              @click="assign(scope.row)"
              >分配角色</el-button
            >
          </template>
        </el-table-column>
        <el-table-column type="expand">
          <template slot-scope="scope">
            <el-row
              :class="['bdbottom', i1 === 0 ? 'bdtop' : '', 'vcenter']"
              v-for="(item1, i1) in scope.row.children"
              :key="item1.id"
            >
              <!-- 渲染一级权限 -->
              <el-col :span="5">
                <el-tag
                  closable
                  @close="removeRightById(scope.row, item1.id)"
                  >{{ item1.authName }}</el-tag
                >
                <i class="el-icon-caret-right"></i>
              </el-col>
              <!-- 渲染二级和三级权限 -->
              <el-col :span="19">
                <!-- 通过 for 循环 嵌套渲染二级权限 -->
                <el-row
                  :class="[i2 === 0 ? '' : 'bdtop', 'vcenter']"
                  v-for="(item2, i2) in item1.children"
                  :key="item2.id"
                >
                  <el-col :span="6">
                    <el-tag
                      type="success"
                      closable
                      @close="removeRightById(scope.row, item2.id)"
                      >{{ item2.authName }}</el-tag
                    >
                    <i class="el-icon-caret-right"></i>
                  </el-col>
                  <el-col :span="18">
                    <el-tag
                      type="warning"
                      v-for="item3 in item2.children"
                      :key="item3.id"
                      closable
                      @close="removeRightById(scope.row, item3.id)"
                      >{{ item3.authName }}</el-tag
                    >
                  </el-col>
                </el-row>
              </el-col>
            </el-row>

            <!-- <pre>
              {{scope.row}}
            </pre> -->
          </template>
        </el-table-column>
      </el-table>
    </template>
    <el-dialog title="收货地址" :visible.sync="dialogVisible">
      <el-form :model="form"> 此操作将永久删除该用户信息, 是否继续? </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dels">确 定</el-button>
      </div>
    </el-dialog>

    <!-- 编辑 -->
    <el-dialog title="收货地址" :visible.sync="dialogTableVisible">
      <el-form :model="form" ref="form" :rules="rules">
        <el-form-item
          label="角色名称"
          prop="name"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item
          label="角色描述"
          prop="region"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.region"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogTableVisible = false">取 消</el-button>
        <el-button type="primary" @click="edits('form')">确 定</el-button>
      </div>
    </el-dialog>

    <!-- 角色分配提示 -->
    <el-dialog title="提示" :visible.sync="dialog" width="30%">
      <el-tree
        :data="atr"
        show-checkbox
        node-key="id"
        :default-expanded-keys="defkeys"
        :default-checked-keys="defkeys"
        :props="defaultProps"
        ref="tree"
      >
      </el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialog = false">取 消</el-button>
        <el-button type="primary" @click="updata">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  authList,
  authPush,
  authDel,
  authUpdate,
  authLimits,
  undatarole,
  delroleById
} from "@/api/auth.js";
export default {
  data() {
    return {
      list: [],
      atr: [],
      dialogFormVisible: false,
      dialogVisible: false,
      dialogTableVisible: false,
      dialog: false,
      defkeys: [],
      //   存iD
      idd: "",
      form: {
        name: "",
        region: "",
      },
      formLabelWidth: "120px",
      rules: {
        name: [{ required: true, message: "请输入角色名称", trigger: "blur" }],
      },
      defaultProps: {
        children: "children",
        label: "authName",
      },
    };
  },
  created() {
    this.Axis()
  },
  mounted() {  
    authLimits().then((res) => {
      // console.log(res);
      this.atr = res.data;
      console.log(this.atr);
      //  this.$message({
      //   message: "获取用户数据成功",
      //   type: "success",
      // });
    });
  },
  methods: {
    // 分类确定
    updata() {
      let arr1 = this.$refs.tree.getCheckedKeys();
      console.log(arr1);
      let arr2 = this.$refs.tree.getHalfCheckedKeys();
      console.log(arr2);
      let arrAll = [...arr1, ...arr2];
      let strAll = arrAll.join(",");
      // console.log(arrAll);
      // console.log(strAll);
      // console.log('1');
      this.dialog = false;
      undatarole({ id: this.idd, rids: strAll }).then((res) => {
        console.log(res);
        this.Axis();
      });
    },
    offn(lis) {
      this.dialogTableVisible = true;
      console.log(lis);
      this.idd = lis.id;
      this.form.name = lis.roleName;
      this.form.region = lis.roleDesc;
    },
    roles() {
      this.dialogFormVisible = true;
      this.form.name = "";
      this.form.region = "";
    },
    Axis() {
    authList().then((res) => {
      console.log(res);
      this.list = res.data;
      console.log(this.list);
      this.$message({
        message: "获取用户数据成功",
        type: "success",
      });
    });
    },
  async  firm(form){
      console.log(form);
      this.$refs[form].validate((valid) => {
        console.log(valid);
        if (valid) {

   authPush({
            roleName: this.form.name,
            roleDesc: this.form.region,
          }).then(res=>{
            console.log(res);
          })
      
        this.Axis();
          this.dialogFormVisible = false;

          this.$refs[form].resetFields();
         
        }
      });
    },

    // 分配角色事件
    assign(lis) {
      console.log(lis);
      this.idd = lis.id;
      this.dialog = true;
      authLimits().then((res) => {
        // console.log(res);
        this.atr = res.data;
      });
      let arr = [];
      function fn(lis) {
        if (!lis.children) {
          return arr.push(lis.id);
        }
        lis.children.forEach((item) => {
          fn(item);
        });
      }
      fn(lis);
      console.log(arr);
      this.defkeys = arr;
      this.Axis();
    },
    del(lit) {
      console.log(lit);
      this.idd = lit;
      this.dialogVisible = true;
    },
    dels() {
      authDel({ id: this.idd }).then((res) => {
        console.log(res);
        this.Axis();
      });
      this.dialogVisible = false;
    },
  edits(form) {
      // this.$refs[form].validate((valid) => {
      //   // console.log(valid);
      //   if (valid) {
          // console.log(this.idd);
          authUpdate({
            id: this.idd,
            roleName: this.form.name,
            roleDesc: this.form.region,
          }).then(res=>{ 
             this.Axis(); 
                      console.log(res); 
                      this.dialogTableVisible = false;
                       
          })

      

          this.$refs[form].resetFields();
       
        // }
      // });
    },


    //删除分配
      async removeRightById(role, rightId) {
      // 弹框提示用户是否要删除
      const confirmResult = await this.$confirm(
        '此操作将永久删除该文件, 是否继续?',
        '提示',
        {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }
      ).catch(err => err)

      if (confirmResult !== 'confirm') {
        return this.$message.info('取消了删除！')
      }

      const res = await delroleById({"roleId":role.id,"rightId":rightId})

      if (res.meta.status === 200) {
        this.$message.success(res.meta.msg)
        // this.getRolesList()  //会刷新重新获取
         role.children = res.data //拿响应数据赋值给当前行
      }
    
      
    },

  },
  components: {},
};
</script>

<style lang='scss'>
.el-tag {
  margin: 7px;
}

.bdtop {
  border-top: 1px solid #eee;
}

.bdbottom {
  border-bottom: 1px solid #eee;
}

.vcenter {
  display: flex;
  align-items: center;
}
.el-button--mini {
  padding: 7px 12px;
}
</style>
