<template>
  <div class="">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品分类</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button type="primary" @click="cation">添加分类</el-button>
    <!-- <el-table
      :data="list"
      style="width: 100%; margin-bottom: 20px"
      row-key="cat_id"
      border
      :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
    >
      <el-table-column prop="cat_name" label="商品名称" width="350">
      </el-table-column>
      <el-table-column prop="cat_deleted" label="是否有效" width="350">
          <i class="el-icon-success" ></i>
      </el-table-column>
      <el-table-column prop="address" label="排序" width="350">
        <template slot-scope="scope">
          <el-tag v-show="scope.row.cat_level === 0">一级</el-tag>
          <el-tag v-show="scope.row.cat_level === 1" type="success"
            >二级权限</el-tag
          >
          <el-tag v-show="scope.row.cat_level === 2" type="warning"
            >三级权限</el-tag
          >
        </template>
      </el-table-column>
      <el-table-column prop="cat_deleted" label="是否有效">
        <template slot-scope="scope">
          <el-button
            type="primary"
            class="el-icon-edit"
            @click="upsetusers(scope)"
            >编辑</el-button
          >
          <el-button
            type="danger"
            class="el-icon-delete"
            @click="delurole(scope)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table> -->

    <tree-table
      :data="catelist"
      :columns="columns"
      :selection-type="false"
      index-text="#"
      :expand-type="false"
      show-index
      border
    >
      <template slot="isok" scope="scope">
        <i class="el-icon-success" style="color: lightGreen"></i>
      </template>
      <template slot="level" scope="scope">
           <el-tag v-show="scope.row.cat_level === 0">一级</el-tag>
          <el-tag v-show="scope.row.cat_level === 1" type="success"
            >二级</el-tag
          >
          <el-tag v-show="scope.row.cat_level === 2" type="warning"
            >三级</el-tag
          >
      </template>
      <template slot="opt" scope="scope">
        <el-button
          type="primary"
          class="el-icon-edit"
          @click="upsetusers(scope.row)"
          >编辑</el-button
        >
        <el-button
          type="danger"
          class="el-icon-delete"
          @click="delurole(scope.row)"
          >删除</el-button
        >
      </template>
    </tree-table>

    <div class="block">
      <span class="demonstration">完整功能</span>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="querInfo.pagename"
        :page-sizes="[5, 10, 15, 20]"
        :page-size="querInfo.pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>
    </div>

    <!-- 编辑 -->
    <el-dialog title="编辑分类" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="分类名称" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="oks">确 定</el-button>
      </div>
    </el-dialog>

    <!-- 删除提示 -->
    <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
      <span>这是一段信息</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="del">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 添加 -->
    <el-dialog title="收货地址" :visible.sync="dialogForm" @close="addCateDial">
      <el-form :model="addCateFome" ref="addCateFome">
        <el-form-item label="活动名称" :label-width="formLabelWidth">
          <el-input
            v-model="addCateFome.cat_name"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="活动区域" :label-width="formLabelWidth">
          <el-cascader
            expand-trigger="hover"
            :options="parentlist"
            :props="cseters"
            v-model="selected"
            @change="handleChang"
            clearable
            change-on-select
          ></el-cascader>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogForm = false">取 消</el-button>
        <el-button type="primary" @click="foker">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
// import ZkSwitch from "./Switch/Switch";
import { catelist, cateok, catedel, catepare,cateGeng } from "@/api/cate";
export default {
  data() {
    return {
      catelist: [
        //   {
        //     cat_id: 1,
        //     cat_name: "大家电",
        //     cat_pid: 0,
        //     cat_level: 0,
        //     cat_deleted: false,
        //     children: [
        //       {
        //         cat_id: 3,
        //         cat_name: "电视",
        //         cat_pid: 1,
        //         cat_level: 1,
        //         cat_deleted: false,
        //         children: [
        //           {
        //             cat_id: 6,
        //             cat_name: "曲面电视",
        //             cat_pid: 3,
        //             cat_level: 2,
        //             cat_deleted: false,
        //           },
        //           {
        //             cat_id: 7,
        //             cat_name: "海信",
        //             cat_pid: 3,
        //             cat_level: 2,
        //             cat_deleted: false,
        //           },
        //         ],
        //       },
        //     ],
        //   },
      ],
      columns: [
        {
          label: "商品名称",
          prop: "cat_name",
          type: "template",
        },
        {
          label: "是否有效",
          type: "template",
          template: "isok",
        },
        {
          label: "排序",
          // prop:'cat_name',
          type: "template",
          template: "level",
        },
        {
          label: "操作",
          // prop:'cat_name',
          type: "template",
          template: "opt",
        },
      ],
      form: {
        name: "",
        region: "",
      },
      formLabelWidth: "100PX",
      rules: {
        name: [
          { required: true, message: "请输入活动名称" },
          { min: 3, message: "长度在最少3个字符", trigger: "blur" },
        ],
      },
      // 条数
      total: 0,
      querInfo: {
        type: 3,
        pagename: 1,
        pagesize: 5,
      },
      // 数据存储
      catelist: [],
      // 编辑分类的存储
      parentlist: [],
      // 存储编辑分类数据
      selected: [],
      // 分类显示
      cseters: {
        value: "cat_id",
        label: "cat_name",
        children: "children",
      },
      // 存储id
      idd: "",
      addCateFome: {
        cat_name: "",
        cat_pid: "",
        cat_level: "",
      },
      dialogFormVisible: false,
      dialogVisible: false,
      dialogForm: false,
    };
  },
  created() {
    this.getCateList();
  },
  mounted() {},
  methods: {
    // 获取商品分类
    getCateList() {
      catelist({ params: this.querInfo }).then((res) => {
        if (res.meta.status == 200) {
          this.$message({
            message: res.meta.msg,
            type: "success",
          });
          this.catelist = res.data;
          console.log(this.catelist);
          // console.log(res);
          this.total = res.data.length;
          // console.log(this.total);
        } else {
          this.$message({
            message: res.meta.msg,
            type: "success",
          });
        }
      });
    },
    // 点击确定
    upsetusers(lis) {
      console.log(lis);
      this.idd = lis.cat_id;
      this.dialogFormVisible = true;
      this.form.name = lis.cat_name;
    },
    // 编辑确定
    oks() {
      cateok({ id: this.idd, cat_name: this.form.name }).then((res) => {
        console.log(res);
        this.dialogFormVisible = false;

        if (res.meta.status == 200) {
          this.getCateList();
          this.$message({
            message: res.meta.msg,
            type: "success",
          });
        } else {
          this.$message({
            message: res.meta.msg,
            type: "success",
          });
        }
      });
    },
    // 删除
    delurole(lis) {
      this.dialogVisible = true;
      this.idd = lis.cat_id;
    },
    // 删除确定
    del() {
      catedel({ id: this.idd }).then((res) => {
        console.log(res);
        if (res.meta.status == 200) {
          this.$message({
            message: res.meta.msg,
            type: "success",
          });
        }
      });
    },
    // 点击添加分类
    cation() {
      this.dialogForm = true;
      catepare({ type: 2 }).then((res) => {
        console.log(res);
        this.parentlist = res.data;
      });
    },
    // 分类数据
    handleChang() {
      console.log(this.selected);
      if (this.selected.length > 0) {
        this.addCateFome.cat_pid = this.selected[this.selected.length - 1];
        this.addCateFome.cat_level = this.selected.length;
        return;
      } else {
        this.addCateFome.cat_id = 0;
        this.addCateFome.cat_level = 0;
      }
    },
    // 分类确定
   async foker() {
      // console.log(this.selected);
      console.log(this.addCateFome);
      if( this.addCateFome.cat_id != 0||
        this.addCateFome.cat_level != 0||
        this.addCateFome.cat_name ==''){
       cateGeng({pare:this.addCateFome}).then(res=>{
            console.log(res);
            this.dialogForm=false
            this.getCateList()
        })
      }
       
      
      // console.log(this.$refs.addCateFome.valids);
    },
    // jjiang ting fenlei
    addCateDial() {
      //  this.addCateFome.resetFields()
      this.addCateFome.cat_name = "";
      this.addCateFome.cat_level = "";
      this.addCateFome.cat_pid = "";
      this.selected=''
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
    },
  },
  components: {},
};
</script>

<style lang='scss'>
.el-icon-success:before {
  color: #90ee90;
}
</style>
