<template>
  <div class="heads">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>权限列表</el-breadcrumb-item>
    </el-breadcrumb>

    <el-table :data="list" border style="width: 100%" stripe>
      <el-table-column type="index" label="#" width="50" > </el-table-column>
      <el-table-column prop="authName" label="权限名称" >
      </el-table-column>
      <el-table-column prop="path" label="路径"> </el-table-column>
      <el-table-column prop="" label="权限等级">
        <template slot-scope="scope">
          <el-tag v-show="scope.row.level ==='0'">一级权限</el-tag>
          <el-tag v-show="scope.row.level==='1'" type="success">二级权限</el-tag>
          <el-tag v-show="scope.row.level==='2'" type="warning">三级权限</el-tag>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { limits } from "@/api/auth.js";
export default {
  data() {
    return {
      list: [],
    };
  },
  mounted() {
    limits().then((res) => {
      console.log(res);
      this.list = res.data;
    });
  },
  methods: {},
  components: {},
};
</script>

<style lang='scss' scoped>
.heads {
  overflow-y: scroll;
  height: 100vh;
}
</style>
