<template>
  <div class="">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品列表</el-breadcrumb-item>
    </el-breadcrumb>

    <el-card>
      <el-row>
        <!-- 头部 -->
        <el-col :span="8">
          <el-input
            placeholder="请输入内容"
            v-model="queryInof.query"
            clearable
            @clear="getGoodlist"
          >
            <el-button
              slot="append"
              icon="el-icon-search"
              @click="getGoodlist"
            ></el-button>
          </el-input>
        </el-col>
        <el-col :span="4">
          <el-button type="primary" @click="goAddpage">添加商品</el-button>
        </el-col>
      </el-row>
      <!-- 表格 -->
      <el-table :data="goodslist" border stripe>
        <el-table-column type="index" label="#" width="50px"> </el-table-column>
        <el-table-column prop="goods_name" label="商品名称"> </el-table-column>
        <el-table-column prop="goods_price" label="商品价格" width="95px">
        </el-table-column>
        <el-table-column prop="goods_weight" label="商品重量" width="70px">
        </el-table-column>
        <el-table-column label="创建时间" width="180px">
          <template slot-scope="scope">
            {{ scope.row.add_time | filters }}
          </template>
        </el-table-column>
        <el-table-column label="操作" width="130px">
          <template slot-scope="scope">
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
            ></el-button>
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="removeById(scope.row.goods_id)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->

      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInof.pagenum"
        :page-sizes="[5, 10, 15, 20]"
        :page-size="queryInof.pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
        background
      >
      </el-pagination>
    </el-card>



  
   

  </div>
</template>

<script>
import { Goodlist, GoodDel} from "@/api/good.js";
export default {
  data() {
    return {
      // 表单数据行页
      queryInof: {
        query: "",
        // 页数
        pagenum: 1,
        // 数量
        pagesize: 10,
      },

      // 表单数据·
      goodslist: [],
      // lists:[1,2,3,4],
      // list:[[11,'宋'],[{er},{reerw}],[33,'斌'],[44]],
      total: 0,
    };
  },
  created() {
    this.getGoodlist();
  },
  // mounted() {},
  methods: {
    async getGoodlist() {
      let { data: res } = await Goodlist({ list: this.queryInof });
      console.log(res);
      this.goodslist = res.goods;
      this.total = res.total;
    },
    //删除按钮
 removeById(id){
    console.log(id);
 this.$confirm('此操作将永久删除该商品, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          // this.$message({
          //   type: 'success',
          //   message: '你的邮箱是: ' + value
          // });
            GoodDel({id:id}).then(res=>{
              console.log(res);
               this.getGoodlist()
            })
        }).catch(err=>err)
      

    },
     handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
        this.queryInof.pagesize=val
        this.getGoodlist()
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
        this.queryInof.pagenum=val
        this.getGoodlist()
      },
      // 跳转添加
      goAddpage(){
        this.$router.push('/goods/add')
      }
  },
  components: {},
};
</script>

<style lang='scss'>
.add{
  display: flex;
}
</style>
