<template>
    <div class=''>
        欢迎进入管理系统
    </div>
</template>

<script>
export default {
    data() {
        return {};
    },
    mounted() {},
    methods: {},
    components:{}
};
</script>

<style lang='scss'>

</style>
