<template>
  <div class="login">
    <div class="logo_head">
      <div class="logo">
        <img src="@/assets/logo.png" alt="" />
      </div>
  
    <el-form
      :model="ruleForm"
      status-icon
      :rules="rules"
      ref="ruleForm"
      label-width="100px"
      class="demo-ruleForm"
    >
      <el-form-item label="账号" prop="username">
        <el-input
          type=""
          v-model="ruleForm.username"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="ruleForm.password" type="password" ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('ruleForm')"
          >提交</el-button
        >
        <el-button @click="resetForm('ruleForm')">重置</el-button>
      </el-form-item>
    </el-form>
      </div>
  </div>
</template>

<script>
import { login } from "@/api/login.js";
export default {
  data() {
    return {
      ruleForm: {
        username: "admin",
        // checkPass: "",
        password: "123456",
      },
      rules: {
        username: [
          { required: true, message: "请输入登录名称", trigger: "blur" },
          {
            min: 3,
            max: 10,
            message: "长度在 3 到 10 个字符",
            trigger: "blur",
          },
        ],
        // checkPass: [{ validator: validatePass2, trigger: "blur" }],
        password: [
          { required: true, message: "请输入登录密码", trigger: "blur" },
          {
            min: 6,
            max: 15,
            message: "长度在 6 到 15 个字符",
            trigger: "blur",
          },
          //  { required: true, message: '请输入登录名称', trigger: 'blur' },
          // { min: 3, max: 10, message: '长度在 3 到 10 个字符', trigger: 'blur' }
        ],
      },
    };
  },
  mounted() {},
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // alert("submit!");
          // console.log(this.ruleForm.pass);
          const res = await login({
            username: this.ruleForm.username,
            password: this.ruleForm.password,
          });
          console.log(res);
          if (res.meta.status === 200) {
            // this.$message('这是一条消息提示');
            this.$message({
              message: res.meta.msg,
              type: "success",
              duration: 500,
            });
            localStorage.setItem("token", res.data.token);
            this.$router.push("/about");
            // }else if (res.meta.status === 400) {
            // // this.$message('这是一条消息提示');
            // this.$message({
            //   message: res.meta.msg,
            //   type: "success",
            // });
            // }
          } else {
            // console.log("error submit!!");
            return false;
          }
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
  },
  components: {},
};
</script>

<style lang='scss'>
.demo-ruleForm{
  padding-top: 100px;
  padding-right: 30px;
}
.login {
  width: 100%;
  height: 100vh;
  // box-sizing: border-box;
  background-color: #2b4b6b;
  .logo_head {
    width: 450px;
    height: 300px;
    background-color: white;
    position: fixed;
    margin-left: 50%;
    margin-top: 50vh;
    left: -225px;
    top: -150px;
    
  }
  .logo {
    position: absolute;
    margin-left: 50%;
    left: -74px;
    top: -75px;
    width: 130px;
    height: 130px;
    border-radius: 75px;
    border: 10px solid white;
    background-color: #eeeeee;

    // padding: 10px;
    overflow: hidden;
    // box-shadow: #2b4b6b 0px 0 10px;
    box-shadow: 0 0 10px #ddd;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
</style>
