<template>
  <div class="">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>订单管理</el-breadcrumb-item>
      <el-breadcrumb-item>订单列表</el-breadcrumb-item>
    </el-breadcrumb>

    <el-card>
      <el-col :span="8">
        <el-input
          placeholder="请输入内容"
          v-model="form.query"
          class="input-with-select"
          width="180"
          clearable
          @clear="clears"
        >
          <el-button slot="append" icon="el-icon-search" @click="search"></el-button>
        </el-input>
      </el-col>
      <el-table :data="list" border style="width: 100%">
        <el-table-column type="index" label="#" width="180"> </el-table-column>
        <el-table-column prop="order_number" label="订单编号" width="580">
        </el-table-column>
        <el-table-column prop="order_price" label="订单价格"> </el-table-column>
        <el-table-column prop="pay_status" label="是否付款"> </el-table-column>
        <el-table-column label="是否发货">
          <template slot-scope="scope">
            <div>
              {{ scope.row.is_send }}
            </div>
          </template>
        </el-table-column>
        <el-table-column label="下单时间">
          <template slot-scope="scope">
            <div>
              {{ scope.row.create_time | filters }}
            </div>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <el-button type="primary" icon="el-icon-edit"></el-button>
          <el-button type="success" icon="el-icon-location-outline"></el-button>
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="form.pagenum"
        :page-sizes="[5, 10, 15, 20]"
        :page-size="form.pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>
    </el-card>
  </div>
</template>

<script>
import { goodOrders } from "@/api/good.js";
export default {
  data() {
    return {
      form: {
        query: "",
        pagenum: 1,
        pagesize: 5,
      },
      total: 0,
      list: [],
    };
  },
  mounted() {},
  created() {
    this.goodstr();
  },
  methods: {
    goodstr() {
      goodOrders(this.form).then((res) => {
        console.log(res);
        this.list = res.data.goods;
        this.total = res.data.total;
      });
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.form.pagesize = val;
      this.goodstr();
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.form.pagenum = val;
      this.goodstr();
    },
    search(){
        console.log(this.form.query);
        this.goodstr()
    },
    clears(){
        this.goodstr()
    }
  },
  components: {},
};
</script>

<style lang='scss'>
</style>
