<template>
  <div class="">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>分类列表</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="conent">
      <el-alert title="警告提示的文案" type="warning" show-icon> </el-alert>
      选择商品分类:<el-cascader
        v-model="pareName"
        :options="pareList"
        :props="pareCate"
        @change="handleChange"
      ></el-cascader>

      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="动态参数" name="first">
          <el-button type="primary" @click="dialogFormVisible = true"
            >添加参数</el-button
          >
          <el-table :data="pareCattelist" style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="scope">
               <el-tag
                  :key="i"
                  v-for="(tag,i) in scope.row.attr_vals"
                  closable
                  :disable-transitions="false"
                  @close="handleClose(scope.row,i)"
                >
                  {{ tag }}
                </el-tag>

                <el-input
                  class="input-new-tag"
                  v-if="inputVisible"
                  v-model="scope.row.inputValue"
                  ref="saveTagInput"
                  size="small"
                  @keyup.enter.native="handleInputConfirm(scope.row)"
                  @blur="handleInputConfirm(scope.row)"
                >
                </el-input>
                <el-button
                  v-else
                  class="button-new-tag"
                  size="small"
                  @click="showInput"
                  >+ New Tag</el-button
                >
              </template>
            </el-table-column>
            <el-table-column label="参数名称" prop="attr_name">
            </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                  type="primary"
                  icon="el-icon-edit"
                  size="mini"
                  @click="offn(scope.row)"
                  >编辑</el-button
                >
                <el-button
                  type="danger"
                  size="mini"
                  icon="el-icon-delete"
                  @click="del(scope.row)"
                  >删除</el-button
                >
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="静态属性" name="second">
          <el-button type="primary" @click="dialogFormVisible = true"
            >添加属性</el-button
          >
          <el-table :data="pareonly" style="width: 100%">
            <el-table-column type="expand">
               <template slot-scope="scope">
               <el-tag
                  :key="i"
                  v-for="(tag,i) in scope.row.attr_vals"
                  closable
                  :disable-transitions="false"
                  @close="handleClose(scope.row,i)"
                >
                  {{ tag }}
                </el-tag>

                <el-input
                  class="input-new-tag"
                  v-if="inputVisible"
                  v-model="scope.row.inputValue"
                  ref="saveTagInput"
                  size="small"
                  @keyup.enter.native="handleInputConfirm(scope.row)"
                  @blur="handleInputConfirm(scope.row)"
                >
                </el-input>
                <el-button
                  v-else
                  class="button-new-tag"
                  size="small"
                  @click="showInput"
                  >+ New Tag</el-button
                >
              </template>
            </el-table-column>
            <el-table-column label="参数名称" prop="attr_name">
            </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                  type="primary"
                  icon="el-icon-edit"
                  size="mini"
                  @click="offn(scope.row)"
                  >编辑</el-button
                >
                <el-button
                  type="danger"
                  size="mini"
                  icon="el-icon-delete"
                  @click="del(scope.row)"
                  >删除</el-button
                >
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </div>
    <!-- 添加弹框 -->
    <el-dialog
      :title="'添加' + titleText"
      :visible.sync="dialogFormVisible"
      @close="reds"
    >
      <el-form :model="form" :rules="rules">
        <el-form-item
          :label="titleText"
          prop="name"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="upspls">确 定</el-button>
      </div>
    </el-dialog>

    <!-- 编辑弹框 -->
    <el-dialog
      :title="'修改' + titleText"
      :visible.sync="dialogForm"
      @close="reds"
    >
      <el-form :model="form" ref="form" :rules="rules">
        <el-form-item :label="titleText" prop="name" attr_vals>
          <el-input v-model="form.name"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogForm = false">取 消</el-button>
        <el-button type="primary" @click="firm()">确 定</el-button>
      </div>
    </el-dialog>

    <!-- 删除提示 -->
    <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
      <span> 此操作将永久删除该参数/属性, 是否继续?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dels">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  parelist,
  paretree,
  pareUpset,
  pareDel,
  parePush,
  pareQuer,
} from "@/api/cate.js";
export default {
  data() {
    return {
      // 存储数据下拉
      pareList: [],
      pareonly: [],
      // 下拉数据名字
      pareName: "",
      //   下拉数据显示
      pareCate: {
        value: "cat_id",
        label: "cat_name",
        children: "children",
      },
      // 下滑
      // dynamicTags: ["标签一", "标签二", "标签三"],
      inputVisible: false,
      inputValue: "",
      //   转接数据lis
      liser: {},
      activeName: "first",
      //   存id
      idd: "",
      iddd: "",
      sel: ["many", "only"],
      // 下面列表数据存储
      pareCattelist: [],
      form: {
        name: "",
      },
      rules: {
        name: [{ required: true, message: "请输入活动名称", trigger: "blur" }],
      },
      //
      dialogFormVisible: false,
      formLabelWidth: "120px",
      dialogForm: false,
      dialogVisible: false,
    };
  },
  created() {
    this.parelist();
  },
  mounted() {},
  computed: {
    // 添加字体
    titleText() {
      if (this.activeName === "first") {
        return "动态参数";
      }
      return "静态属性";
    },
  },
  methods: {
    // 下滑
    // handleClose(tag) {
    //   this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
    // },

    // showInput() {
    //   this.inputVisible = true;
    //   this.$nextTick((_) => {
    //     this.$refs.saveTagInput.$refs.input.focus();
    //   });
    // },

    // handleInputConfirm() {
    //   let inputValue = this.inputValue;
    //   if (inputValue) {
    //     this.dynamicTags.push(inputValue);
    //   }
    //   this.inputVisible = false;
    //   this.inputValue = "";
    // },
  // 删除
    handleClose(row, i) {
      row.attr_vals.splice(i, 1);
      this.pamsr(row)
    },
// 点击按钮
      showInput(row) {
        this.inputVisible = true;
        this.$nextTick(_ => {
          this.$refs.saveTagInput.focus();
        });
      },
// 失焦事件
    handleInputConfirm(row) {
      console.log(row);
      let inputValue = row.inputValue;
      if (inputValue) {
        row.attr_vals.push(inputValue);
        console.log(row.attr_vals);
      }      
      this.inputVisible = false;
      row.inputValue = "";
      // let arr=row.attr_vals.join(' ')
      // console.log(arr)
      
      // parePush({
      // id:row.cat_id,
      // attr_Id:row.attr_id,
      // attr_name:row.attr_name,
      // attr_sel: this.sel[0],
      // attr_vals:arr}).then(res=>{
      //   console.log(res);
      // })
      this.pamsr(row)
    },
    pamsr(row){
       let arr=row.attr_vals.join(' ')

        if (this.activeName == "first") {
        // console.log(262,this.liser.attr_id);
        parePush({
          id: row.cat_id,
          attr_Id: row.attr_id,
          attr_name:row.attr_name,
          attr_sel: this.sel[0],
          attr_vals:arr
        }).then((res) => {
          console.log(res);
          this.dialogForm = false;
        });
      } else if (this.activeName == "second") {
        parePush({
            id: row.cat_id,
          attr_Id: row.attr_id,
          attr_name:row.attr_name,
          attr_sel: this.sel[1],
          attr_vals:arr
        }).then((res) => {
          console.log(res);
        });
      }
    },
    parelist() {
      parelist({ type: 3 }).then((res) => {
        console.log(res);
        this.pareList = res.data;
        console.log(this.pareList);
      });
    },

    async handleChange() {
      //   console.log(value);0
      //   console.log(this.pareName);
      this.idd = this.pareName[this.pareName.length - 1];
      console.log(this.idd);
      // if (this.activeName == "first") {
      paretree({ id: this.idd, sel: this.sel[0] }).then((res) => {
        res.data.forEach((item) => {
          item.attr_vals = item.attr_vals.split(" ");
          item.inputVisible= false;
          item.inputValue='';
        });
        this.pareCattelist = res.data;
        console.log(this.pareCattelist);
      });
      // } else if (this.activeName == "second") {
      paretree({ id: this.idd, sel: this.sel[1] }).then((res) => {
        res.data.forEach((item) => {
          item.inputVisible = false;
          item.inputValue = "";
          item.attr_vals = item.attr_vals ? item.attr_vals.split(" ") : [];
        });
        this.pareonly = res.data;
        console.log(this.pareonly);
      });
      // }
    },
    // 添加确定
    upspls() {
      console.log(this.form.name);
      if (this.form.name != "") {
        if (this.activeName == "first") {
          pareUpset({
            id: this.idd,
            attr_name: this.form.name,
            attr_sel: this.sel[0],
          }).then((res) => {
            console.log(res);
            this.dialogFormVisible = false;
            paretree({ id: this.idd, sel: this.sel[0] }).then((res) => {
              console.log(res);
              this.pareCattelist = res.data;
            });
          });
        } else if (this.activeName == "second") {
          pareUpset({
            id: this.idd,
            attr_name: this.form.name,
            attr_sel: this.sel[1],
          }).then((res) => {
            console.log(res);
            this.dialogFormVisible = false;
            paretree({ id: this.idd, sel: this.sel[1] }).then((res) => {
              console.log(res);
              this.pareCattelist = res.data;
            });
          });
        }
      }
    },
    // 编辑按钮
    offn(lis) {
      console.log(lis);
      this.liser = lis;
      this.idd = lis.cat_id;
      this.iddd = lis.attr_id;
      this.form.name = lis.attr_name;
      this.dialogForm = true;
      pareQuer({ id: this.idd, attrid: lis.attr_id }).then((res) => {
        console.log(res);
      });
    },
    // 编辑确定
    firm() {
      console.log(this.form.name);
      if (this.activeName == "first") {
        // console.log(262,this.liser.attr_id);
        parePush({
          id: this.idd,
          attr_Id: this.iddd,
          attr_name: this.form.name,
          attr_sel: this.sel[0],
        }).then((res) => {
          console.log(res);
          this.dialogForm = false;
        });
      } else if (this.activeName == "second") {
        parePush({
          id: this.idd,
          attrId: this.liser.attr_id,
          attr_name: this.form.name,
          attr_sel: this.sel[1],
        }).then((res) => {
          console.log(res);
        });
      }
    },
    // 删除弹窗
    del(lis) {
      this.dialogVisible = true;
      //   console.log(lis);
      this.liser = lis;
      console.log(this.liser);
    },
    erer() {
      if (this.activeName == "first") {
        paretree({ id: this.idd, sel: this.sel[0] }).then((res) => {
          console.log(res);
          this.pareCattelist = res.data;
        });
      } else if (this.activeName == "second") {
        paretree({ id: this.idd, sel: this.sel[1] }).then((res) => {
          console.log(res);
          this.pareCattelist = res.data;
        });
      }
    },
    dels() {
      pareDel({ id: this.liser.cat_id, attrid: this.liser.attr_id }).then(
        (res) => {
          console.log(res);
          this.dialogVisible = false;
          this.erer();
        }
      );
    },
    // 添加事件监听
    reds() {
      this.form.name = "";
    },
    handleClick(tab, event) {
      console.log(tab, event);
    },
  },
  components: {},
};
</script>

<style lang='scss' scoped>
.conent {
  min-width: 1200px;
  margin: 0 auto;
  // margin-left:10px ;
  //   height: 200px;
  padding: 20px 20px;
  background: white;
}
.cat_opt {
  margin: 15px 0;
}

.el-tag {
  margin: 10px;
}

.input-new-tag {
  width: 120px;
}
</style>
