<template>
  <div class="">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item><a href="/">用户管理</a></el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="header">
      <el-input v-model="inputs" placeholder="请输入内容"></el-input>
      <el-button size="small" icon="el-icon-search" @click="search"
        >搜索</el-button
      >
      <el-button type="primary" @click="dialogFormVisible = true"
        >添加</el-button
      >
    </div>
    <template>
      <!--  表单-->
      <el-table :data="list" border style="width: 1131px" stripe>
        <el-table-column prop="id" label="#" width="50"> </el-table-column>
        <el-table-column prop="username" label="姓名" width="180">
        </el-table-column>
        <el-table-column prop="email" label="邮箱" width="180">
        </el-table-column>
        <el-table-column prop="mobile" label="电话" width="180">
        </el-table-column>
        <el-table-column prop="role_name" label="角色" width="180">
        </el-table-column>
        <el-table-column prop="" label="状态" width="180">
          <!-- 状态 -->
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.mg_state"
              active-color="#13ce66"
              inactive-color="#ff4949"
              @change="condit(scope.row)"
            >
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column prop="" label="操作" width="180">
          <template slot-scope="scope">
            <el-button
              type="primary"
              size="mini"
              icon="el-icon-edit"
              @click="amend(scope.row.id)"
            ></el-button>
            <el-button
              type="danger"
              size="mini"
              icon="el-icon-delete"

              @click="del(scope.row.id)"
            ></el-button>
                <el-tooltip class="item" effect="dark" content="分配角色" placement="top">
            <el-button
              type="warning"
              size="mini"
              icon="el-icon-setting"
               @click="assign(scope.row)"
            ></el-button>
               </el-tooltip>
          </template>
        </el-table-column>
      </el-table>

      <el-dialog
          title="提示"
          :visible.sync="dialogVisibleSet"
          width="30%"
         >
          <p>当前用户：{{ass.username}}</p>
          <p>当前角色：{{ass.role_name}}</p>
          <p>分配新角色：
            <template>
            <el-select v-model="roweRR" placeholder="请选择">
              <el-option
                v-for="item in assmse"
                :key="item.id"
                :label="item.roleName"
                :value="item.id">
              </el-option>
            </el-select>
            </template>

          </p>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisibleSet = false">取 消</el-button>
            <el-button type="primary" @click="ensure()">确定</el-button>
          </span>
        </el-dialog>

      <!--  修改 -->
      <el-dialog title="收货地址" :visible.sync="dialogFormVisible">
        <el-form
          :model="ruleForm"
          status-icon
          :rules="rules"
          ref="ruleForm"
          label-width="100px"
        >
          <el-form-item
            label="用户名"
            prop="names"
            :label-width="formLabelWidth"
          >
            <el-input v-model="ruleForm.names"></el-input>
          </el-form-item>
          <el-form-item label="密码" prop="region" :label-width="formLabelWidth">
            <el-input v-model="ruleForm.region"></el-input>
          </el-form-item>
          <el-form-item label="邮箱" prop="date1" :label-width="formLabelWidth">
            <el-input v-model="ruleForm.date1"></el-input>
          </el-form-item>
          <el-form-item
            label="手机号"
            prop="date2"
            :label-width="formLabelWidth"
          >
            <el-input v-model="ruleForm.date2"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitForm('ruleForm')"
              >提交</el-button
            >
          </el-form-item>
        </el-form>
      </el-dialog>

      <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
        <el-form
          :model="ruleForm"
          status-icon
          :retust="retust"
          ref="form"
          label-width="100px"
        >
          <el-form-item
            label="用户名"
            prop="names"
            :label-width="formLabelWidth"
          >
            <el-input v-model="backfill.username" :disabled="true"> </el-input>
          </el-form-item>
          <el-form-item label="邮箱" prop="date3" :label-width="formLabelWidth">
            <el-input v-model="backfill.email"></el-input>
          </el-form-item>
          <el-form-item
            label="手机号"
            prop="date4"
            :label-width="formLabelWidth"
          >
            <el-input v-model="backfill.mobile"></el-input>
          </el-form-item>
        </el-form>

        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="end">确 定</el-button>
        </span>
      </el-dialog>
      <!-- 分页 -->
      <div class="block">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="this.sum"
          :page-sizes="[1, 5, 15, 20]"
          :page-size="1"
          layout="total, sizes, prev, pager, next, jumper"
          :total="this.arr"
        >
        </el-pagination>
      </div>
    </template>
  </div>
</template>
  </div>
</template>

<script>
import { adduser ,role,rperg} from "@/api/login.js";
import { userlist, amends, amenemd ,dels,condition} from "@/api/login.js";
export default {
  data() {
    return {
      inputs: "",
      // 页码
      smll: 1,
      //   数量
      sum: 1,
      dialogVisibleSet:false,
      //   数据
      list: [],
      backfill: [],
      // 分页数据
      ass:[],
      // 分页管理数据
      assmse:[],
      // 角色存储
      roweRR:'',
      // id
      idd: "",
      //   ms:this.list.length,
      //标记数据的长度
      arr: 4,
      //状态
      flag:'',
      // 弹框
      dialogVisible: false,
      //  dialogTableVisible: false,
      dialogFormVisible: false,
      ruleForm: {
        names: "",
        region: "",
        date1: "",
        date2: "",
      },
      form: {
        // names: "",
        // region: "",
        date3: "",
        date4: "",
      },

      retust: {
        date3: [
          { required: true, message: "请输入邮箱", trigger: "blur" },
          {
            validator: function (rule, value, callback) {
              console.log("1");
              var MobileRegex =
                /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              if (!MobileRegex.test(value)) {
                callback(new Error("邮箱码格式不正确！"));
              } else {
                callback();
              }
            },
            trigger: "blur",
          },
        ],
        date4: [
          { required: true, message: "手机格式不对", trigger: "blur" },
          {
            validator: function (rule, value, callback) {
              console.log("1");
              var MobileRegex = /^1[0-9]{10}$/;
              if (!MobileRegex.test(value)) {
                callback(new Error("手机号码格式不正确！请使用中国的手机号"));
              } else {
                callback();
              }
            },
            trigger: "blur",
          },
        ],
      },

      rules: {
        names: [
          { required: true, message: "请输入登录名称", trigger: "blur" },
          { min: 3, max: 8, message: "长度在 3 到 8 个字符", trigger: "blur" },
        ],
        region: [
          { required: true, message: "请输入登录密码", trigger: "blur" },
          {
            min: 6,
            max: 15,
            message: "长度在 6 到 15 个字符",
            trigger: "blur",
          },
        ],
        date1: [
          { required: true, message: "请输入邮箱", trigger: "blur" },
          {
            validator: function (rule, value, callback) {
              console.log("1");
              var MobileRegex =
                /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              if (!MobileRegex.test(value)) {
                callback(new Error("邮箱码格式不正确！"));
              } else {
                callback();
              }
            },
            trigger: "blur",
          },
        ],
        date2: [
          { required: true, message: "手机格式不对", trigger: "blur" },
          {
            validator: function (rule, value, callback) {
              console.log("1");
              var MobileRegex = /^1[0-9]{10}$/;
              if (!MobileRegex.test(value)) {
                callback(new Error("手机号码格式不正确！请使用中国的手机号"));
              } else {
                callback();
              }
            },
            trigger: "blur",
          },
        ],
      },
      formLabelWidth: "120px",
    };
  },

  created() {
    userlist(`query&pagenum=1&pagesize=${this.smll}`).then((res) => {
      console.log(res);
      this.list = res.data.users;
      this.arr = res.data.total;
      this.$message({
        message: "获取用户数据成功",
        type: "success",
      });
    });
  },
  //   mounted() {

  //   },
  methods: {
    //   搜索
    search() {
      this.sum = 1;
      // this.$set(this.sum,0,0,1)
      // console.log(this.sum);
      this.Axis();
    },
    end() {
      this.dialogVisible = false;
      console.log(this.backfill);
      amenemd({
        id: this.idd,
        email: this.backfill.email,
        mobile: this.backfill.mobile,
      }).then((res) => {
        console.log(res);
        this.Axis();
      });
    },
// 分配角色管理
    assign(lis){
        this.ass=lis
        this.dialogVisibleSet = true
        role().then(res=>{
          console.log(res);
          this.assmse=res.data
        })
    },
    // 分配角色管理确定
    ensure(){
      this.dialogVisibleSet = false
      console.log(this.ass.id);
      rperg({id:this.ass.id,role:this.roweRR}).then(res=>{
        console.log(res);
        this.Axis()
        this.roweRR=''
      })

    },
    // 删除
    del(id){
      this.idd=id
      dels({id:this.idd}).then(res=>{
          console.log(res);
          this.Axis()
      })
    },

    // 状态
    condit(lis){
      console.log(lis);
      this.idd=lis.id
      this.flag=lis.mg_state
      condition({id:this.idd,type:this.flag}).then(res=>{
        console.log(res);
      })
    },
    amend(idt) {
      this.idd = idt;
      console.log(this.idd);
      amends({ id: this.idd }).then((res) => {
        console.log(res);
        this.backfill = res.data;
      });
      this.dialogVisible = true;
    },
    // 调用请求
    Axis() {
      // console.log(this.sum);
      userlist(
        `query=${this.inputs}&pagenum=${this.sum}&pagesize=${this.smll}`
      ).then((res) => {
        console.log(res);
        this.list = res.data.users;

        this.arr = res.data.total;
        console.log(this.arr);
        this.$message({
          message: "获取用户数据成功",
          type: "success",
        });
      });
    },

    // 数量
    handleCurrentChange(value) {
      console.log(value);
      this.sum = value;
      this.Axis();
    },
    // 页码
    handleSizeChange(value) {
      console.log(value);
      this.smll = value;
      this.Axis();
    },
    submitForm(formName) {
      console.log(formName);
      this.$refs[formName].validate((valid) => {
        console.log(this.ruleForm);
        if (valid) {
          const res = adduser({
            username: this.ruleForm.names,
            password: this.ruleForm.region,
            email: this.ruleForm.date1,
            mobile: this.ruleForm.date2,
          });
          console.log(res);
          this.dialogFormVisible = false;
          
          this.Axis();
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },

    handleClose(done) {
      this.$confirm("确认关闭？")
        .then((_) => {
          done();
        })
        .catch((_) => {});
    },
  },
  components: {},
};
</script>

<style lang='scss'>
.header {
  width: 500px;
  display: flex;
  // height: 60px;
  margin-bottom: 20px;
}
.block {
  width: 100%;
  display: flex;
}
</style>
